body {
  font-size: 20px;
  font-family: Palatino Linotype, serif;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

.page-header h1 {
  font-size: 70px;
  padding: 20px 20px 80px;
  text-align: center;
}
.page-header h1 a:link, .page-header h1 a:visited {
  text-decoration: none;
  color: #444;
}
.page-header h1 a:hover {
  color: #333;
}

.post-title h1 {
  font-size: 1.6em;
  margin: 0.3em 0;
  padding: 0;
}
.post-title a {
  color: #666666;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.post:hover > .post-title a {
  color: black;
}

.post:hover .underline {
  width: 100%;
}
.underline {
  background-color: #cccccc;
  height: 1px;
  width: 0;
  margin-bottom: 0.7em;
  transition: width 0.5s ease-in-out;
}

.post-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-content h2 {
  font-weight: bold;
  margin-top: 1em;
}

.post-content img {
  transition: 0.5s ease;
}

.post-content img:hover {
  -moz-transform: translateX(0.5em);
  -webkit-transform: translateX(0.5em);
  -o-transform: translateX(0.5em);
  -ms-transform: translateX(0.5em);
  transform: translateX(0.5em);
}

#footer {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  color: #777;
  margin-top: 1em;
  padding: 0.5em;
}

#menu-show {
  position: fixed;
  left: 1em;
  top: 1em;
}
#menu-show a:visited, #menu-show a:link {
  color: #555;
}
#menu-show a:hover {
  color: #333;
}

#menu-content {
  background: none repeat scroll 0 0 rgba(153, 204, 51, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -moz-transform: translateY(60%) scale(0);
  -webkit-transform: translateY(60%) scale(0);
  -o-transform: translateY(60%) scale(0);
  -ms-transform: translateY(60%) scale(0);
  transform: translateY(60%) scale(0);

  -webkit-transition: all 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: transform 0.5s ease;
}

#menu-content.active {
  -moz-transform: translateY(0%) scale(1);
  -webkit-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}

#menu-close {
  position: absolute;
  right: 1em;
  top: 1em;
}
