*, *:before, *:after {
    box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Palatino Linotype, serif;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

h1 {
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 20px;
}

small {
  font-size: 85%;
  color: #999;
  font-weight: 400;
  line-height: 1;
}

h1 small {
  font-size: 65%;
}

a {
  padding: 0.3em;
  color: #428bca;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  padding: 0.3em;
}

.header {
  border-bottom: 1px solid #eee;
  margin: 40px 0 30px;
  padding-bottom: 10px;
  width: 100%;
}
.header h1 {
  font-size: 70px;
}
.header h1 a:link, .header h1 a:visited {
  text-decoration: none;
  padding-left: 0;
  padding: 0;
  color: #444;
}
.header h1 a:hover {
  color: #333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.pull-right {
  float: right !important;
}

.post-title h1 {
  font-size: 1.6em;
  margin: 0.3em 0;
  padding: 0;
}
.post-title a {
  color: #666666;
  padding-left: 0;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.post:hover > .post-title a {
  color: black;
}

.post:hover .underline {
  width: 100%;
}
.underline {
  background-color: #cccccc;
  height: 1px;
  width: 0;
  margin-bottom: 0.7em;
  transition: width 0.5s ease-in-out;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

blockquote {
  background-color: #f5f5f5;
  border-left: 0.7em solid #E3E7EC;
  color: #333;
  display: block;
  line-height: 1.42857;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  font-size: 90%;
  padding: 2px 4px;
  white-space: nowrap;
}

pre {
  background-color: #f5f5f5;
  border-left: 0.7em solid #E3E7EC;
  color: #333;
  display: block;
  font-size: 13px;
  line-height: 1.42857;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
}

.post-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-content h2 {
  font-weight: bold;
  margin-top: 1em;
}

.post-content img {
  transition: 0.5s ease;
}

.post-content img:hover {
  -moz-transform: translateX(0.5em);
  -webkit-transform: translateX(0.5em);
  -o-transform: translateX(0.5em);
  -ms-transform: translateX(0.5em);
  transform: translateX(0.5em);
}

#footer {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  color: #777;
  margin-top: 1em;
  padding: 0.5em;
}

#menu a {
  font-size: 2em;
  text-decoration: none;
}
#menu a:hover {
  font-weight: bold;
}

#menu-show {
  position: fixed;
  left: 1em;
  top: 1em;
}
#menu-show a:visited, #menu-show a:link {
  color: #555;
}
#menu-show a:hover {
  color: #333;
}

#menu-content {
  background: none repeat scroll 0 0 rgba(153, 204, 51, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  
  -moz-transform: translateY(60%) scale(0);
  -webkit-transform: translateY(60%) scale(0);
  -o-transform: translateY(60%) scale(0);
  -ms-transform: translateY(60%) scale(0);
  transform: translateY(60%) scale(0);

  -webkit-transition: all 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: transform 0.5s ease;
}

#menu-content.active {
  -moz-transform: translateY(0%) scale(1);
  -webkit-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}

#menu-close {
  position: absolute;
  right: 1em;
  top: 1em;
}
